{% extends 'clearance-approval.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
  {% csrf_token %}
<h5 class="mb-0">Disapprove this student?</h5> <br>
<p class="mb-0 ">Give a short remark 
</p>
</div>
{{form|crispy}}
<div class="modal-footer flex-nowrap">
    <button type="submit"
        class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><strong>Yes,
            Disapprove</strong></button>
</form>
{% endblock content %}