{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

    <header data-bs-theme="dark">
        <div class="collapse text-bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4>Stats</h4>
                        <ul class="list-unstyled">
                            {% block content %}
                            {% endblock %}
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-7 py-4">
                        {% block writeup %}
                        {% endblock %}
                        <div class="dropdown">
                            <a
                                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{request.user.staffprofile.profile_picture.url}}"  width="32"
                                    height="32" class="rounded-circle me-2">
                                <strong>{{user.username}}</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="#">Report a problem</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'user-logout' %}">Sign out</a></li>
                            </ul><br>
                                  <form class="d-flex" method="post" action="{% url 'search' %}" role="search">
                                    {% csrf_token %}
                                    <input class="form-control me-2" name="searched" type="search" placeholder="Enter student's surname" aria-label="Search">
                                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                                  </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="{% url 'staff-dashboard' %}" class="navbar-brand d-flex align-items-center">
                    <strong>Review portal</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Students clearing</h1>
                    <p class="lead text-body-secondary">Something short and leading about the student below— the matric
                        number, each detail, etc. Make full observation before approving or rejecting . Don’t simply
                        skip over it entirely.</p>
                </div>
            </div>
        </section>
        {% if objects %}
        <div class="album py-5 bg-body-tertiary rounded-3 border shadow-lg">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for data in objects %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{data.posted_by.studentprofile.id_card.url}}" width="100%" height="350px">
                            <div class="card-body">
                                <p class="card-text">{{data.department}}</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{data.surname}} {{data.othernames}}</li>
                                    <li class="list-group-item"> {{data.posted_by.studentprofile.program_of_study}} II
                                    </li>
                                </ul>
                                <div class="d-flex justify-content-between p-4 align-items-center">
                                    <a href="{% url 'clearance-form-detail' data.pk %} "
                                        class="d-flex align-items-center text-black text-decoration-none">
                                        <img src="{{data.posted_by.studentprofile.profile_pic.url}}" alt="" width="32"
                                            height="32" class="rounded-circle me-2">
                                        <div class="text-muted ">{{data.posted_by.username}}</div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer text-end blockquote-footer"><small
                                    class="text-body-secondary text-center">{{data.date_posted}}</small></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        
        <div class="album py-5 bg-body-tertiary rounded-3 border shadow-lg">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Students ID</text></svg>
                            <div class="card-body">
                                <p class="card-text">Students Department</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Students full name</li>
                                    <li class="list-group-item">Level
                                    </li>
                                </ul>
                                <div class="d-flex justify-content-between p-4 align-items-center">
                                    <a href="#"
                                        class="d-flex align-items-center text-black text-decoration-none">
                                        <img src="" alt="" width="32"
                                            height="32" class="rounded-circle me-2">
                                        <div class="text-muted ">Matric number</div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer text-end blockquote-footer"><small
                                    class="text-body-secondary text-center">Date Posted </small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </main>

    {% if is_paginated%}
    <div class="pagination justify-content-center pt-5">
        {% if page_obj.has_previous %}
        <a href="?page= {{ page_obj.previous_page_number }}" class="btn btn-outline-secondary mb-4"> &laquo;</a>
        {% endif %}
        <a class="btn btn-outline-secondary mb-4">{{page_obj.number}}</a>
        {% if page_obj.has_next %}
        <a href="?page= {{ page_obj.next_page_number }}" class="btn btn-outline-secondary mb-4">&raquo;</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="container mt-5">
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary">&copy;2023 CSIT dev, Inc</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>