{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clearance</title>

    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar mb-4">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'assets/img/PTINOW.jpg' %}" width="70" alt="">
            </a>
        </div>
    </nav>
    <div class="modal-body p-4 text-center">
        <h5 class="mb-0 fw-light">You searched for..</h5>
    </div>

    
    {% if details %}
        {% for detail in details %}
            {{detail.surname}}
        {% endfor %}
    {% endif %}

</body>

</html>